body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.color {
  background: red;
  width: 200px;
  height: 200px;
  margin: 20px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.title {
  background: yellow;
}

#job {
  font-size: 12px;
  text-align: left;
  margin: 10px;
}
