* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: 'Baloo', sans-serif;
}

#banner {
  width: 100%;
  height: 50vh;
  position: relative;
}

#form {
  text-align: center;
  width: 100%;
  background-image: url("images/ez_logo.png");
  height: 30vh;
}

#list {
  height: 100vh;
  overflow-y: auto;
  margin: 20px;
}

.left {
  display: inline-grid;
  width: 30%;
  border: solid black 5px;
}

.right {
  display: inline-grid;
  width: 70%;
  border: solid black 5px;
}

#job {
  font-size: 20px;
  height: 100vh;
  overflow-y: auto;
  margin: 20px;
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.list_item:hover {
  cursor: pointer;
  box-shadow: 10px 10px 5px #888888;
  border: solid #888888 1px;
}

.list_item {
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
}
