* {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-family: sans-serif;
}

#list {
  height: 100vh;
  overflow-y: auto;
}

.left {
  display: inline-grid;
  width: 30%;
  border: solid black 5px;
}

.right {
  display: inline-grid;
  width: 70%;
  border: solid black 5px;
}

#job {
  font-size: 12px;
  height: 100vh;
  overflow-y: auto;
}

.center {
  text-align: center;
}

.center-img {
  display: block;
  margin: 0 auto;
}

.list_item:hover {
  cursor: pointer;
  background: grey;
}
